// _contactus.scss

.contact-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;

  .facebook-section {
    flex: 1;
    margin-right: 20px;
    height: 400px; /* Default height for desktop */
    iframe {
      height: 100%;
    }
  }

  .contact-info {
    flex: 1;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: stretch;
    padding: 30px;

    .facebook-section {
      margin-right: 0;
      margin-bottom: 20px;
      height: 350px; /* Default height for desktop */
      iframe {
        height: 100%;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .facebook-section,
    .contact-info {
      flex: 1;
      height: 340px; /* Default height for desktop */
      iframe {
        height: 100%;
      }
    }
  }
}
