// ProductDetailPage.scss

.product-top {
  text-align: center;

  h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 10px;
    color: #333;
  }

  h3 {
    font-size: 16px;
  }
}

.product-detail-page {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: space-between;
  padding: 20px;

  .product-detail-left {
    max-width: 100%;

    .heads {
      margin-bottom: 15px;

      h2 {
        font-size: 20px;
        color: #454995;
        margin-bottom: 5px;
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: #333;
        margin: 5px 0;
      }

      .gap {
        padding-top: 4px;
        padding-bottom: 12px;
      }

      p {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .product-detail-right {
    text-align: center;
    margin-top: 20px;
    // margin-right: 100px;

    .product-image {
      max-width: 50%;
      max-height: auto;
    }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;

    .product-detail-left {
      max-width: 50%;
    }

    .product-detail-right {
      margin-top: 0;
      margin-left: 20px;
      max-width: 50%;
    }
  }
}
