/* Common styles for both desktop and responsive modes */
.slider-home {
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 95% / 0 0 15% 15%;
  overflow: hidden;
  transition: background-image 0.9s ease;
}

.slider-home .slider-bg {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 1000px;
  background: -moz-linear-gradient(45deg, rgb(37, 162, 219) 0%, rgba(110, 37, 133, 0.1) 100%);
  background: -webkit-linear-gradient(45deg, rgb(37, 162, 219) 0%, rgba(110, 37, 133, 0.1) 100%);
}

.header {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 50px;
  max-width: 500px;
}

.header h1 {
  color: white;
  font-size: 4.5em;
  line-height: 1;
  margin-bottom: 20px;
  font-family: 'Circular-book';
}

/* Responsive styles for tablet */
@media only screen and (max-width: 768px) {
  .slider-home .slider-bg {
    height: 900px;
  }

  .header {
    margin-left: 30px;
    max-width: 400px;
  }

  .header h1 {
    font-size: 3.5em;
    margin-bottom: 15px;
  }
}

/* Responsive styles for mobile */
@media only screen and (max-width: 480px) {
  .slider-home .slider-bg {
    height: 800px;
  }

  .header {
    margin-left: 20px;
    max-width: 300px;
  }

  .header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
}
