/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 10px;
  color: #fff;

  /* Navbar links */
  .navbar-links {
    width: 100%;
    display: flex;
    align-items: center;

    /* Navbar logo */
    .navbar-links-logo {
      margin-right: 10px;
      margin-left: 120px;

      .logo-navbar {
        width: 85px;
        height: 65px;
      }
    }

    /* Navbar links container */
    .navbar-links-container {
      display: flex;
      float: right;
      list-style: none;

      /* Navigation */
      .navigation {
        display: flex;
        list-style: none;
        gap: 40px;
        margin-right: 120px;
      }
    }
  }

  /* Toggle menu */
  .navbar-menu {
    display: none;
  }

  /* Media query for desktop mode */
  @media (min-width: 768px) {
    .navbar-menu {
      display: none;
    }

    .navbar-links-container {
      margin-left: auto;
    }
  }
}
