/* Navbar container */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #973737;
  padding: 0.5rem 12rem;

  /* Navbar links */
  .navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* Navbar logo */
    .navbar-links-logo {
      margin-right: 2rem;

      .logo-navbar {
        width: 100px;
        height: 75px;
      }
    }

    /* Navbar links container */
    .navbar-links-container {
      display: flex;

      margin-left: auto;

      /* Navigation */
      .navigation {
        display: flex;
        font-size: 22px;
        color: #fff;
        gap: 40px;
        margin-right: 120px;
      }
    }
  }

  /* Toggle menu */
  .navbar-menu {
    display: flex;
    align-items: center;

    svg {
      cursor: pointer;
    }

    .navbar-menu-container {
      position: absolute;
      background-color: #973737;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 1;
    }
  }

  .navbar-menu {
    display: none;
  }

  /* Media query for tab and mobile resolutions */
  @media (max-width: 767px) {
    .navbar-links-container {
      display: none;
    }

    .navbar-links {
      // display: none;

      .navbar-links-container {
        display: none;
      }
    }

    .navbar-menu {
      display: block;
    }

    /* Show navbar menu container only when toggleMenu is true */
    .navbar-menu-container.show {
      display: flex;
    }
  }
}
